<div class= "content">
  <mat-toolbar class="Editing" color="primary">
    <h1>แก้ไขข้อมูล</h1>
  </mat-toolbar>  
</div>


<button mat-raised-button color="primary" class="button1" (click)='goStudent()'> Back </button>    

<div class="list">  
<table mat-table [dataSource]="students" class="mat-elevation-z8">
  
  <ng-container matColumnDef="sId">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let element"> {{element.sId}} </td>
   </ng-container>


  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>ชื่อ</th>
    <td mat-cell *matCellDef="let element">
      <span *ngIf="!(enableEdit && enableEditIndex == i && sid == element.sId)">{{element.name}}</span>
      <div *ngIf="enableEdit && enableEditIndex == i && sid == element.sId">
        <mat-form-field appearance="outline"> 
          <mat-label>ชื่อ: Ex. นาย/นางสาว..</mat-label>
          <input matInput placeholder="Placeholder" [(ngModel)]="name1">        
        </mat-form-field>
      </div>
    </td>   
  </ng-container>


  <ng-container matColumnDef="lastname">
    <th mat-header-cell *matHeaderCellDef>นามสกุล</th>
    <td mat-cell *matCellDef="let element">
      <span *ngIf="!(enableEdit && enableEditIndex == i && sid == element.sId)">{{element.lastname}}</span>
      <div *ngIf="enableEdit && enableEditIndex == i && sid == element.sId">
        <mat-form-field appearance="outline">
          <mat-label>นามสกลุ</mat-label>         
          <input matInput placeholder="Placeholder" [(ngModel)]="lastname1">        
        </mat-form-field>
      </div>
    </td>       
  </ng-container>

  <ng-container matColumnDef="major" >
    <th mat-header-cell *matHeaderCellDef>สาขาวิชา/คณะ</th>
    <td mat-cell *matCellDef="let element">
      <span *ngIf="!(enableEdit && enableEditIndex == i && sid == element.sId)">{{element.major}}</span>
      <div *ngIf="enableEdit && enableEditIndex == i && sid == element.sId">
        <mat-form-field appearance="outline">
          <mat-label>สาขาวิชา/คณะ</mat-label>              
          <input matInput placeholder="Placeholder" [(ngModel)]="major1">        
        </mat-form-field>
      </div>
    </td>       
  </ng-container>          
          


  <ng-container matColumnDef="bDate">
    <th mat-header-cell *matHeaderCellDef>วันเกิด</th>
    <td mat-cell *matCellDef="let element">
      <span *ngIf="!(enableEdit && enableEditIndex == i && sid == element.sId)">{{element.bDate}}</span>
      <div *ngIf="enableEdit && enableEditIndex == i && sid == element.sId">
        <mat-form-field appearance="outline">
          <mat-label>MM-DD-YYYY</mat-label>
            <input matInput [matDatepicker]="picker" [(ngModel)]="bDate1">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      </div>
    </td> 
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef>ลบข้อมูล</th>
    <td mat-cell *matCellDef="let element"><button mat-raised-button color="warn" (click)='deleteStu(element.sId)'>ลบข้อมูล</button></td>
  </ng-container>

  <ng-container matColumnDef="action2">
    <th mat-header-cell *matHeaderCellDef>แก้ไข</th>
    <td mat-cell *matCellDef="let element">
      <button mat-raised-button color="warn" *ngIf="enableEdit && enableEditIndex == i && sid == element.sId" (click)="submitEdit()" type="submit">บันทึกข้อมูล</button>&nbsp;
      <button mat-raised-button color="warn" *ngIf="enableEdit && enableEditIndex == i && sid == element.sId" (click)="cancel()">ยกเลิก</button>      
      <button mat-raised-button color="warn" *ngIf="!enableEdit" (click)="enableEditMethod(element)">แก้ไข</button></td>    
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</div>
