<div class="content">
  
  <h1 class="title"> แก้ไขข้อมูลนักศึกษา </h1> <br>

  <mat-form-field>
    <mat-label>ID นักศึกษา</mat-label>
    <mat-select name ="id" [(ngModel)]="student.sId" >
      <mat-option *ngFor="let student of sId2" [value]="student.sId" (click)="getId(student.sId)">
        {{student.sId}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>ชื่อ</mat-label>
    <textarea matInput placeholder="Ex. นาย/นาง/นางสาว..." [value]="studentData?.name" [(ngModel)]="student.name" name="name"></textarea>    
  </mat-form-field>  

  <mat-form-field class="example-full-width3">
    <mat-label>นามสกุล</mat-label>
    <textarea matInput [(ngModel)]="student.lastname" [value]="studentData?.lastname" name="lastname"></textarea>    
  </mat-form-field>  

  <mat-form-field class="example-full-width2">
    <mat-label>สาขาวิชา</mat-label>
    <textarea matInput placeholder=""[(ngModel)]="student.major" [value]="studentData?.major" name="major"></textarea>
  </mat-form-field><br>  

  <mat-form-field>
    <mat-label>วัน-เดือน-ปีเกิด</mat-label>
    <input matInput [value]="studentData?.bdate"  [matDatepicker]="picker" [(ngModel)]="student.bdate"  name="date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field><br>


    <button mat-button color="primary" class="button1" (click)="save2()"> บันทึกข้อมูล </button>&nbsp;
    <button mat-button color="primary" class="button1" (click)='delete(studentData?.sId)'> ลบข้อมูล </button>   


   
</div>
