.mat-toolbar{
    position: initial;
    z-index: 2;
    width: 100%;
    text-align: center;
}

.button1{
    width: 130px;
    font-size: 15px;
    cursor: pointer;
    margin: 50px auto;
    /* display: block; */
    transition: all 0.3s ease 0s;
    top: 50%;
    left: 85%;
}
.button1:hover{
    background: salmon;
}

mat-card {
    max-width: 100%;
}

 .container{
    margin: auto;
}

table {
    width: 100%;
    margin: auto;    
}




