.button1{
    width: 130px;
    font-size: 15px;
    cursor: pointer;
    margin: 50px auto;
    transition: all 0.3s ease 0s;
    top: 50%;
    left: 85%;
}
.button1:hover{
    background: salmon;
}


 .container{
    display: flex;
    margin: auto;
    
    
}

table {
    width: 100%;
    margin: auto; 
     
}

.header h1{
    margin: auto;    
    text-align: center;    
    
}

.background{    
    background-image: url('https://www.img.in.th/images/f2d503b9cb3323ebe2860baf8e24d7a8.jpg');
    -webkit-background-size: cover;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: block;
    margin: auto;
}




