.content{
    
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -300px;
    margin-left: -200px;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;

}

.mat-toolbar{
    position: initial;
    z-index: 2;
    width: 100%;
}

.button1{
    width: 150px;
    font-size: 20px;
    cursor: pointer;
    margin: 50px auto;
    /* display: block; */
    transition: all 0.3s ease 0s;
}
.button1:hover{
    background: salmon;
}

.example-full-width {
    width: 100%;
    text-align: center;
}

.example-full-width2 {
    width: 100%;
    text-align: center;
}

.example-full-width3 {
    width: 100%;
    text-align: center;
}
mat-card {
    max-width: 100%;
}