.example-card {
    max-width: 400px;    
    margin: auto;
    text-align: center;
    top: 25%;
    
  }  
.name-input, .major, .lastname, .select-sport, .bDate{
  width: 100%;
  margin-bottom: 10px;
  text-align: center;  
}

mat-card-header h2{
    margin: auto;
    margin-bottom: 20px;
    text-align: center;   
}

.background{    
    background-image: url('https://www.img.in.th/images/f2d503b9cb3323ebe2860baf8e24d7a8.jpg');
    -webkit-background-size: cover;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: block;
    margin: auto;
}




