<div class="content">
  <body class="background">
  <mat-card class="example-card" >
    <mat-card-header >      
        <h2>บันทึกข้อมูลนักศึกษา</h2>              
    </mat-card-header>    
    <mat-card class="card mat-elevation-z8">
        <mat-card-content class="content">        
            <div class="example-container">               
              <mat-form-field class="name-input">
                <mat-label>ชื่อ</mat-label>
                <textarea matInput placeholder="Ex. นาย/นาง/นางสาว..." [(ngModel)]="student.name" name="name"></textarea>    
              </mat-form-field>  
              <mat-form-field class="lastname">
                <mat-label>นามสกุล</mat-label>
                <textarea matInput [(ngModel)]="student.lastname" name="lastname"></textarea>    
              </mat-form-field>  
            
              <mat-form-field class="major">
                <mat-label>สาขาวิชา/คณะ</mat-label>
                <textarea matInput placeholder=""[(ngModel)]="student.major" name="major"></textarea>
              </mat-form-field><br>  

                <mat-form-field class="bDate">
                  <mat-label>วันเกิด</mat-label>
                  <input matInput [matDatepicker]="picker" [(ngModel)]="student.bDate" name="date">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>            
            </div>
            <div class="button-submit">
              <button mat-flat-button color="primary"  (click)="save()"> บันทึกข้อมูล </button>&nbsp;
              <button mat-flat-button color="warn"  (click)='goEditStudent()'> แก้ไขข้อมูล </button>    
            </div>          
    </mat-card-content>
    </mat-card>
  </mat-card>
  </body>
</div>
